<h1>Angular Router App</h1>
<nav>
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home1111</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About222</a>
    </li>
    <li>
      <a routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">User1233123</a>
    </li>
    <li>
      <a routerLink="/guandao" routerLinkActive="active" ariaCurrentWhenActive="page">guandao</a>
    </li>
  </ul>
</nav>
<br>
<!-- <p>------------------------------</p> -->
<!-- <p> {{ carService.getCars() }} </p>
<p> {{ carService.getCar(1) }} </p> -->
<!-- <p>------------------------------</p> -->
<!-- <p>Car Listing: {{ display }}</p> -->


<!-- The routed views render in the <router-outlet>-->
<router-outlet />
